header>div {
    background-color: #3c3897;
    border-radius: 10px;
}

header>div>h1 {
    margin-bottom: -10px;
}

main>div {
    border: solid 1px black;
    box-shadow:  0 10px 6px -6px #777;
}

footer>div {
    background-color: #3c3897;
}

main {
    display: flex;
    flex-direction: column;
}

main>div {
    margin: 10px;
    flex-direction: column;
    border-radius: 10px;
}

.center {
    justify-content: center;
    text-align: center;
    background-color: #878383;
    box-shadow: 1px 1px 1px 1px #000000;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
}

div {
    padding: 1%;
}

.footer {
    justify-content: end;
    text-align: right;
    border-radius: 10px;
}